.head {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #000000;
  margin-left: 15px;
}

.subhead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-top: -20px;
  color: #7c7c7c;
  margin-left: 15px;
}

.tip {
  background-color: #48b05a;
  width: 90vw;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 27px;
  padding-right: 27px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  max-width: 360px;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.54rem;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
  margin-bottom: -5px;
}

.tipText {
  width: 240px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 18px;

  color: #ffffff;
}

.button {
  margin-top: 65px;
  margin-left: 15px;
}
